</div>
<footer>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href=""> Qunto</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- Jumbotron -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/sweetalert.js"></script>
<script src="/dist/trumbowyg.min.js"></script>

</body>

</html>